language: python
python: 
  - "3.6"
services:
  - postgresql
before_script:
  - psql -c 'create database shhoppinglist;' -U deo
#To install dependences
install:
  - pip install -r requirements.txt
#To run tests  
script: 
  - nosetests --with-coverage --cover-package=my_app tests/
