language: python
python:
  - "3.6"
branches:
    only:
        - develop
services:
  - postgresql

#To install dependences
install:
  - pip install -r requirements.txt
  
before_script:
  - psql -c 'create database shoppinglist;' -U deo

#To run tests  
script: 
  - nosetests --with-coverage --cover-package=my_app tests/
